{% extends 'base.html' %}
{% block title %}List{% endblock title %}
{% block content %}
    <h1>My Courses</h1>
    <div class="module">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{ course.title }}</h3>
                <p>
                    <a href="{% url 'course:course_edit' course.id %}">Edit</a>
                    <a href="{% url 'course:course_delete' course.id %}">Delete</a>
                    <a href="{% url 'course:course_module_update' course.id %}">Edit Modules</a>
                   
                    {% if course.modules.count > 0 %}
                        <a href="{% url 'course:module_content_list' course.modules.first.id %}">Manage contents</a>
                    {% endif %}
                </p>
            </div>
        {% empty %}
            <p>You haven't created any courses yet.</p> 
        {% endfor %}
        <p>
            <a href="{% url 'course:course_create' %}" class="button">Create New Course</a>
        </p>
    </div>


{% endblock content %}